/* =========================================================== */
/* CSS for control sap.suite.ui.commons/ComparisonChart.control */
/* =========================================================== */

.sapSuiteCmpChartContent {
    position: relative;
    outline: none;
}

.sapSuiteCmpChartContent.L {
	min-height: 5.875rem;
    width: 12rem;
}


.sapUiMedia-Std-Desktop .sapSuiteCmpChartContent.Auto,
.sapUiMedia-Std-Tablet .sapSuiteCmpChartContent.Auto,
.sapSuiteCmpChartContent.M {
	min-height: 4.5rem;
    width: 10.5rem;
}

.sapUiMedia-Std-Phone .sapSuiteCmpChartContent.Auto,
.sapSuiteCmpChartContent.S,
.sapSuiteCmpChartContent.XS {
	min-height: 3.5rem;
    width: 8.25rem;
}

.sapSuiteCmpChartDescInner {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sapSuiteCmpChartUnitInner {
    vertical-align: top;
    padding-left: 2px;
}

.sapSuiteCmpChartItemHeader {
    overflow: hidden;
    white-space: nowrap;
}

.sapSuiteCmpChartItemTitle {
    color: @sapUiLightText;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sapSuiteCmpChartItemValue {
	float: right;
	min-height: .9375rem;
}

.sapSuiteCmpChartItemValue.L {
	min-height: 1rem;
}

.sapSuiteCmpChartBar.L {
    height: 0.375rem;
    padding-top: 3px;
    padding-bottom: 6px;
}

.sapUiMedia-Std-Desktop .sapSuiteCmpChartBar.Auto,
.sapUiMedia-Std-Tablet .sapSuiteCmpChartBar.Auto,
.sapSuiteCmpChartBar.M {
    height: 0.375rem;
    padding-top: 1px;
    padding-bottom: 2px;
}

.sapUiMedia-Std-Phone .sapSuiteCmpChartBar.Auto,
.sapSuiteCmpChartBar.S,
.sapSuiteCmpChartBar.XS {
    height: 0.25rem;
    margin-top: -1px;
}

.sapSuiteCmpChartBar>div {
    height: 100%;
    float: left;
}

.sapSuiteCmpChartBarNegNoValue {
    background-color: #e2e2e2;
    border-right: 1px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.sapSuiteCmpChartBarNoValue {
    background-color: #e2e2e2;
    border-left: 1px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
