
/* ============================================= */
/* CSS for control sap.suite.ui.commons/MicroAreaChart.control */
/* ============================================= */

.sapSuiteMac {
 	background-color: transparent;
 	display: inline-block;
 	position: relative;
 	outline: none; 
}

.sapSuiteMacCanvas {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.sapSuiteMacCanvas.topLbls {
	top: 15px;
}

.sapSuiteMacCanvas.btmLbls {
	bottom: 16px;
}

.sapSuiteMacTarget {
	width: 2px;
}

.sapSuiteMacChart {
	width: 3px;
}

.sapSuiteMacLbl {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 1px;
	width: 0%;
}

.sapSuiteMacLbl.Left.L,
.sapSuiteMacLbl.Center.C,
.sapSuiteMacLbl.Right.R {
	width: 100%;
}

.sapSuiteMacLbl.Left.LR,
.sapSuiteMacLbl.Right.LR {
	width: 50%;
}

.sapSuiteMacLbl.LCR,
.sapSuiteMacLbl.LC,
.sapSuiteMacLbl.CR {
	width: 33.33%;
}

.sapSuiteMacLbl.Left {
	text-align: left;
}

.sapSuiteMacLbl.Center {
	text-align: center;
}

.sapSuiteMacLbl.Right {
	text-align: right;
}

.sapSuiteMacLabels {
	width: 100%;
	position: absolute;
}

.sapSuiteMacLabels.Top {
	top: 0px;
}
	
.sapSuiteMacLabels.Btm {
	bottom: 0px;
}

html[dir=rtl] {
	.sapSuiteMacLbl.Right {
		text-align: left;
	}
	
	.sapSuiteMacLbl.Left {
		text-align: right;
	}
}