
/* ============================================= */
/* CSS for control sap.suite.ui.commons/TileContent.control */
/* ============================================= */

.sapSuiteTileCnt {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.sapUiMedia-Std-Desktop .sapSuiteTileCnt.Auto,
.sapUiMedia-Std-Tablet .sapSuiteTileCnt.Auto,
.sapSuiteTileCnt.L,
.sapSuiteTileCnt.M {
	height: 7rem;
    min-width: 11.5rem;
	max-width: 23.5rem;	
}

.sapUiMedia-Std-Phone .sapSuiteTileCnt.Auto,
.sapSuiteTileCnt.S {
	height: 5.375rem;
	min-width: 9.25rem;
	max-width: 19rem;
}
	
/* Footer CSS */
.sapSuiteTileCntFtrTxt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left:0.5rem;
    margin-right:0.5rem;
    text-align: right;
    position: absolute;
    bottom: 0.5rem;
    right:0px;
    left:0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html[dir=rtl] .sapSuiteTileCntFtrTxt {
	text-align: left;
}

.sapUiMedia-Std-Phone .sapSuiteTileCntFtrTxt.Auto,
.sapSuiteTileCntFtrTxt.S {
	font-size: 12px;
	line-height: 12px;
	height: 0.875rem;
}

.sapUiMedia-Std-Desktop .sapSuiteTileCntFtrTxt.Auto,
.sapSuiteTileCntFtrTxt.L,
.sapUiMedia-Std-Tablet .sapSuiteTileCntFtrTxt.Auto,
.sapSuiteTileCntFtrTxt.M {
	font-size: 14px;
	line-height: 14px;
	height: 1rem;
}

/* Content */
.sapSuiteTileCntContent {
	overflow: hidden;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sapSuiteTileCntContent > .sapSuiteUiTcInnerMarker{
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
}

.sapUiMedia-Std-Desktop .sapSuiteTileCntContent.Auto,
.sapUiMedia-Std-Tablet .sapSuiteTileCntContent.Auto,
.sapSuiteTileCntContent.L,
.sapSuiteTileCntContent.M {
	height:4.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	line-height: 4.5rem;
}

.sapUiMedia-Std-Phone .sapSuiteTileCntContent.Auto,
.sapSuiteTileCntContent.S {
	height:3.5rem;
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	line-height: 3.5rem;
}

.sapSuiteTileCnt + .sapSuiteTileCnt {
    margin-left: 0.5rem;
}

.sapSuiteTileCntContent > .sapSuiteUiCommonsNwC {
	background-color: inherit;
}