/* SAP CVOM 4.0 © <2012-2014> SAP AG. All rights reserved. Build Version PI_bycheckin.1761 */
/* Included Components: common,runtime,services,annotation,annotationcontrol,chart,contextmenu,custombutton,frame,filterbar0,playcontrol,popover,dedicatedlegend */
.viz-controls-common-analysisDraggable {

}
.viz-controls-common-analysisDraggingToken {
    overflow: hidden;
    cursor: move;
    background: rgba(102, 102, 102, 0.6);
    border-radius: 3px;
    display: block;
    font-weight: bold;
    padding: 0px 3px 0px 4px;
    height: 22px;
    line-height: 22px;
    width: 178px;
    z-index: 999999;
    border: 1px solid #333;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.viz-controls-common-analysisDraggingToken > span {
    display: inline-block;
    width: 160px;
    margin-right: 2px;
    color: #FFF !important;
}
.viz-controls-common-analysisDraggingToken-icon {
    padding: 1px 6px;
    float: right;
    margin: 3px 0 0 0;
    color: #333;
    font: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    border-radius: 0;
    border: 0;
}
.viz-controls-common-analysisDraggingToken-icon-dropAccepted {
    background-position: -17px -163px;
}
.viz-controls-common-analysisDraggingToken-icon-dropAcceptedAsReplacement {
    background-position: 0px -163px;
}
.viz-controls-common-analysisDraggingToken-icon-dropDenied {
    background-position: -34px -163px;
}
.viz-controls-common-analysisDraggingToken-icon-dropAsTrash {
    background-position: 0px -269px;
}
.viz-controls-common-analysisDraggingToken-warn {
    font-weight: normal;
    font-size: 14px;
    color: #FFBD69;
    float: left;
    display: inline-block;
    min-width: 178px;
}
.viz-controls-common-analysisDraggingToken-warn-text{
    display: inline-block;
    white-space: nowrap;
    padding: 0px 4px 0px 4px;
}.viz-controls-common-feedlist {
    position: absolute;
    width: auto;
    z-index: 999999;
}
.viz-controls-common-feedlist-container {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #DAD9D9;
    background-color: #ffffff;
}
.viz-controls-common-feedlist-container-left {
    -webkit-animation: viz-controls-common-feedlist_keyframes_left .5s ease-out;
}
@-webkit-keyframes viz-controls-common-feedlist_keyframes_left
{
    0% {opacity: 0; left: 12px}
    100% {opacity: 1; left: 0px}
}
.viz-controls-common-feedlist-container-right {
    -webkit-animation: viz-controls-common-feedlist_keyframes_right .5s ease-out;
}
@-webkit-keyframes viz-controls-common-feedlist_keyframes_right
{
    0% {opacity: 0; left: -12px}
    100% {opacity: 1; left: 0px}
}
.viz-controls-common-feedlist-arrow {
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #DAD9D9;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.viz-controls-common-feedlist-content {
    position: absolute;
    background-color: #ffffff;
    padding-right: 2px;
}
.viz-controls-common-feedlist-content-header {
    padding: 12px 0px 0px 12px;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.viz-controls-common-feedlist ul {
    min-width: 340px;
    min-height: 200px;
    padding: 1px;
    background-color: #ffffff;
    list-style: none;
    margin: 0px;
    display: inline-block;
    position: absolute;
    overflow-x: hidden;
}
.viz-controls-common-feedlist li {
    position: relative;
    line-height: 12px;
    cursor: pointer;
    font-size: 12px;
}
.viz-controls-common-feedlist-li-button, .viz-controls-common-feedlist-li-hierarchy-indicator {
    display: block;
    float: right;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    border: 1px solid transparent;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.viz-controls-common-feedlist-li-hierarchy-indicator {
    left: 2px;
}
.viz-controls-common-feedlist-li-hierarchy-Icon {
    background-position: 0px -220px;
    cursor: default;
}
.viz-controls-common-feedlist-li-button {
    right: 15px;
    cursor: pointer;
}
.viz-controls-common-feedlist-li-button-offset {
    right: 2px;
}
.viz-controls-common-feedlist-li-button-close {
    background-color: #007CC0;
}
.viz-controls-common-feedlist li:first-child {
    padding-top: 3px;
}
.viz-controls-common-feedlist li:last-child {
    margin-bottom: 0px;
}
.viz-controls-common-feedlist-li-hierarchy-indicator-focus {
    background-color: #007CC0;
}
.viz-controls-common-feedlist a, .viz-controls-common-feedlist span {
    margin-left: 20px;
    display: block;
    padding: 6px 6px;
    cursor: pointer;
    width: 260px;
}
.viz-controls-common-feedlist span {
    padding-left: 45px;
}
.viz-controls-common-feedlist-li-a_suffix:after {
    content: attr(__suffix);
    position: relative;
    margin-left: 8px;
    line-height: 14px;
    top: 2px;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 0 4px;
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
}
.viz-controls-common-feedlist-li-plus-icon {
    background-position: 0px -1118px;
}
.viz-controls-common-feedlist-li-minus-icon {
    background-position: -51px -1118px;
}
/*.viz-controls-common-feedlist-content > ul > li:hover, .viz-controls-common-feedlist-content > ul > li:focus {
    background-color: #e5f2f9;
}*/

/*.viz-controls-common-feedlist-content > ul > li:hover .viz-controls-common-feedlist-li-hierarchy-Icon {
    background-position: -17px -220px;
}*/
.viz-controls-common-hide-cursor {
    cursor: none;
    pointer-events: none;
}
.viz-controls-common-feedlist-li-highlight {
    background-color: #e5f2f9;
}
.viz-controls-common-feedlist-li-icon-container {
    position: absolute;
    top: 4px;
}.viz-controls-common-feeding-view {
    width: 222px;
}
.viz-controls-common-feeding-item {
    margin-bottom: 12px;
    position: relative;
}
.viz-controls-common-feeding-item-title {
    margin-bottom: 2px;
    font-size: 12px;
    cursor:default;
}
.viz-controls-common-feeding-item-content {
    position: relative;
}
.viz-controls-common-feeding-item-list {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding: 3px 3px;
    cursor: pointer;
    margin: 0 30px 0 3px;
}
.viz-controls-common-feeding-item-list_active {
    border-color: #007CC0;
}

.viz-controls-common-feeding-item-ph {
    height: 24px;
    position: relative;
}
.viz-controls-common-feeding-item-ph-half {
    height: 12px;
}
.viz-controls-common-feeding-item-ph-text {
    line-height: 24px;
    display: inline-block;
    font-style: italic;
    color: #BEBDBD;
    margin: 0 0 0 4px;
}
.viz-controls-common-feeding-item-add-icon {
    background-position: 0px -1417px;
    position: absolute;
    top: 8px;
    right: 9px;
    cursor: pointer;
}
.viz-controls-common-feeding-item-add-icon_active {
    background-position: -17px -1417px;
}
.viz-controls-common-feeding-card {
    margin-bottom: 4px;
    padding: 0px 3px 0px 4px;
    display: block;
    position: relative;
    color: #FFFFFF;
    background-color: #666666;
    background: #666666;
    border: 1px solid #333;
    border-radius: 3px;
    font-weight: bold;
    overflow: hidden;
    cursor: move;
    pointer-events: auto;
}
.viz-controls-common-feeding-card:last-of-type {
    margin-bottom: 0px;
}
.viz-controls-common-feeding-card-text {
    line-height: 22px;
    padding: 0 2px 0 0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2px;
}
.viz-controls-common-feeding-card:hover .viz-controls-common-feeding-card-text-with-icon-1 {
    padding: 0 22px 0 0;
}
.viz-controls-common-feeding-card:hover .viz-controls-common-feeding-card-text-with-icon-2 {
    padding: 0 44px 0 0;
}
.viz-controls-common-feeding-hierarchy-card-icon {
    float: left;
    margin: 3px 2px 0px 2px;
    background-position: -18px -220px;
}
.viz-controls-common-feeding-action-icon-measure {
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    position: absolute;
    top: 3px;
    right: 2px;
    background-position: -51px -303px;
    cursor: pointer;
}
.viz-controls-common-feeding-action-icon-hierarchy {
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    position: absolute;
    top: 3px;
    right: 2px;
    background-position: 0px 0px;
    cursor: pointer;
}
.viz-controls-common-feeding-action-icon-div {
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}
.viz-controls-common-feeding-card-measure:hover .viz-controls-common-feeding-action-icon-measure{
    visibility: visible;
    opacity: 1;
}
.viz-controls-common-feeding-card-hierarchy:hover .viz-controls-common-feeding-action-icon-hierarchy{
    visibility: visible;
    opacity: 1;
}
.viz-controls-common-feeding-card-operation-div {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.viz-controls-common-feeding-card-operation {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    top: 3px;
    right: 2px;
    color: #333;
    font: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
    border-radius: 0;
    border: 0;
    background-position: 0px -269px;
    cursor: pointer;
}
.viz-controls-common-feeding-card:hover .viz-controls-common-feeding-card-operation {
    visibility: visible;
    opacity: 1;
}
.viz-controls-common-feeding-card_draggingHelper {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 2px 2px 1px 1px #444;
    -webkit-box-shadow: 2px 2px 1px 1px #444;
}
.viz-controls-common-feeding-card_draggingHelper_grabbing {
    cursor: -webkit-grabbing;
}
.viz-controls-common-feeding-card_draggingHelper_noDrop {
}
.viz-controls-common-feeding-card-ghost {
    background: #e5e5e5;
    border: 0;
    font-weight: bold;
    color: #666666;
    padding: 0 4px 0 5px;
}
.viz-controls-common-feeding-drop-indicator {
    background-color: #74b6e2;
    border: 0;
    position: absolute;
    margin: -4px 0 0 -4px;
    height: 4px;
    width: 185px;
}.viz-controls-common-menu {
    position: absolute;
    z-index: 999999;
}
.viz-controls-common-menu-transition {
    -webkit-transition-duration: .24s;
    transition-duration: .24s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.viz-controls-common-menu-list {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    border: 1px solid #7f7f7f;
    background-color: #ffffff;
    max-height: 264px;
    overflow-x: hidden !important;
}
.viz-controls-common-menu-list > ul {
    min-width: 178px;
    max-width: 365px;
    background-color: #ffffff;
    list-style: none;
    display: inline-block;
    padding-left: 0px;
    margin:0px 0px 4px 0px;
}

.viz-controls-common-menu-list > ul > li {
    cursor: default;
    padding: 6px 10px;
    position: relative;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    margin: 4px 0px;
}
.viz-controls-common-menu-list > ul > li:last-child {
    margin-bottom: 0px;
}
.viz-controls-common-menu-list-hovered {
   background-color: #e5f2f9;
}
.viz-controls-common-menu-list-prefix-icon-x1 {
    padding-left: 22px !important;
}
.viz-controls-common-menu-list-suffix-icon-x1 {
    padding-right: 33px !important;
}
.viz-controls-common-menu-list-suffix-icon-submenu {
    position: absolute;
    right: 9px;
    top: 4px;
    background-position: -119px -362px;
}
/*.viz-controls-common-menu-list-hovered .viz-controls-common-menu-list-suffix-icon-submenu {
    background-position: -102px -362px;
}*/
.viz-controls-common-menu-list-selected:before {
    background-image: url('../common/assets/UVB_SharedSprite2.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px -207px;
    width: 10px;
    height: 10px;
    content: " ";
    position: absolute;
    overflow: hidden;
    top: 50%;
    margin-top: -5px;
    left: 6px;
}
/*.viz-controls-common-menu-list-hovered:before {
    background-position: -11px -207px;
}*/

.viz-controls-common-menu-list-caption {

}
.viz-controls-common-menu-list-group-splitter {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #ccc;
    width: 90%;
    margin: 0px auto;
}
.viz-controls-common-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.viz-controls-common-havanaVXTabSprite16 {
    background-image: url('../common/assets/UVB_VxtabSprite.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.viz-controls-common-havanaVXTabSprite16-mask {
    -webkit-mask-image: url('../common/assets/UVB_VxtabSprite.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.viz-controls-common-havanaSharedSprite16 {
    background-image: url('../common/assets/UVB_SharedSprite2.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.viz-controls-common-UVBSharedSprite {
    background-image: url('../common/assets/UVB_SharedSprite.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.viz-controls-common-havanaSharedSprite16-mask {
    background-image: url('../common/assets/UVB_SharedSprite2.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.viz-controls-common-havanaVXTabSprite24 {
    background-image: url('../common/assets/UVB_VxtabSprite.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.viz-controls-common-geography {
    background-image: url('../common/assets/UVB_SharedSprite.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: 0px -101px;
}
.viz-controls-common-popUp {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999999;
}
@-webkit-keyframes vizControls-common-blur_keyframes
{
0% {-webkit-filter: blur(0px);}
100% {-webkit-filter: blur(4px);}
}
.viz-controls-common-blur {
    -webkit-animation: vizControls-common-blur_keyframes .3s ease-out forwards;
    /* filter: blur(4px);
     -o-filter: blur(4px);
     -ms-filter: blur(4px);
     -moz-filter: blur(4px);
     -webkit-filter: blur(4px);*/
}
.viz-controls-common-button-cancel:hover {
    color: #007cc0;
}
.viz-controls-common-button {
    border: 1px solid #BFBFBF;
    cursor: pointer;
    background: #FFFFFF;

    /* used for disabled, hover and active states */
}

.viz-controls-common-button:hover {
    border: 1px solid #BFBFBF;
    background: #E5F2F9;
}
.viz-controls-common-button:active {
    border: 1px solid #007CC0;
    background: #007CC0;
    color: #FFFFFF;
}
.viz-controls-common-scrollable-x {
    overflow-x: auto !important;
}
.viz-controls-common-scrollable-y {
    overflow-y: auto !important;
}.viz-controls-annotation-confirmdialog {
    position: absolute;
    /*width: 400px;
     height: 200px;*/
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    border: 1px solid #96A8C3;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    z-index: 28;
}
.viz-controls-annotation-confirmdialog-header {
    background-color: white;
    background-repeat: repeat-x;
    border-color: #E5EAF3 white;
    border-style: solid;
    border-width: 1px 1px 0;
    margin: 0;
    height: 19px;
    color: black;
    padding-top: 6px;
    cursor: move;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.viz-controls-annotation-confirmdialog-headerleft {
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
    text-overflow: ellipsis;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.viz-controls-annotation-confirmdialog-headerleft-label {
    font-weight: bold;
    white-space: nowrap;
    margin: 6px 4px 0 20px;
    color: black;
    cursor: move;
}
.viz-controls-annotation-confirmdialog-headerright {
    position: absolute;
    right: 6px;
    top: 1px;
    padding-left: 5px;
}
.viz-controls-annotation-confirmdialog-headerright-close:hover, .viz-controls-annotation-confirmdialog-headerright-close:focus, .viz-controls-annotation-confirmdialog-headerright-close:active {
    background-image: url(../controls/annotation/assets/DlgCloseHov_n.gif);
    pointer-events: auto;
}
.viz-controls-annotation-confirmdialog-headerright-close {
    width: 18px;
    height: 18px;
    background-image: url(../controls/annotation/assets/DlgClose_n.gif);
    display: inline-block;
    margin: 5px 1px 0 0;
    cursor: pointer;
    color: transparent;
    pointer-events: auto;
}
.viz-controls-annotation-confirmdialog-content {
    background-color: white;
    border-color: white;
    padding: 10px 20px 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 0 1px;
    border-style: solid;
    overflow: hidden;
}
.viz-controls-annotation-confirmdialog-content-up {
    background-color: white;
    border-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-width: 0 1px;
    border-style: solid;
    overflow: hidden;
}
.viz-controls-annotation-confirmdialog-content-down {
    background-color: white;
    border-color: white;
    top: 40px;
    left: 0;
    width: 100%;
    height: 30px;
    border-width: 0 1px;
    border-style: solid;
    overflow: hidden;
}
.viz-controls-annotation-confirmdialog-content-icon {
    width: 32px;
    height: 32px;
    background-image: url('../controls/annotation/assets/warning.png');
    display: inline-block;
    /*margin: 5px 1px 0 0;*/
    cursor: pointer;
    color: transparent;
    /*padding-right: 2px;*/
    vertical-align: top;
    overflow: hidden;
    outline: none;
    position: relative;
    float: left;
}
.viz-controls-annotation-confirmdialog-content-info {
    font-weight: bold;
    white-space: nowrap;
    margin: 6px 4px 0 20px;
    color: black;
    cursor: move;
    /*padding-left: 6px;*/
    padding-right: 7px;
    vertical-align: top;
    overflow: hidden;
    float: left;
    text-align: left;
    position: relative;
}
.viz-controls-annotation-confirmdialog-content-checkbox {
    display: inline-block;
    margin: 5px 1px 0 58px;
    cursor: pointer;
    color: transparent;
    padding-right: 2px;
    vertical-align: top;
    overflow: hidden;
    outline: none;
    position: relative;
    float: left;
    pointer-events: auto;
}
.viz-controls-annotation-confirmdialog-content-checkboxlabel {
    font-weight: bold;
    white-space: nowrap;
    margin: 4px 4px 0 4px;
    color: black;
    cursor: move;
    padding-left: 6px;
    padding-right: 7px;
    vertical-align: top;
    overflow: hidden;
    float: left;
    text-align: left;
    position: relative;
}
.viz-controls-annotation-confirmdialog-footer {
    background-color: white;
    border: 1px solid white;
    border-top-width: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 43px;
}
.viz-controls-annotation-confirmdialog-footer-buttons {
    padding-top: 4px;
    margin: auto;
    width: 200px;
    white-space: nowrap;
}
.viz-controls-annotation-confirmdialog-footer-button {
    width: 80px;
    height: 28px;
    margin: 0px 10px;
    padding: 1px 6px;
    pointer-events: auto;
    outline: none;
}
.viz-controls-annotation-richtextdialog {
    position: absolute;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #E5EAF3;
    border: 1px solid #007cc0;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    z-index: 30;
}
.viz-controls-annotation-richtextdialog-header {
    background-color: white;
    background-repeat: repeat-x;
    border-color: #E5EAF3 white;
    border-style: solid;
    border-width: 1px 1px 0;
    margin: 0;
    height: 19px;
    color: black;
    padding-top: 6px;
    cursor: move;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.viz-controls-annotation-richtextdialog-headerleft {
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
    text-overflow: ellipsis;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.viz-controls-annotation-richtextdialog-headerleft-label {
    font-weight: bold;
    white-space: nowrap;
    margin: 6px 4px 0 20px;
    color: black;
    cursor: move;
}
.viz-controls-annotation-richtextdialog-headerright {
    position: absolute;
    right: 6px;
    top: 1px;
    padding-left: 5px;
}
.viz-controls-annotation-richtextdialog-headerright-close:hover, .viz-controls-annotation-richtextdialog-headerright-close:focus, .viz-controls-annotation-richtextdialog-headerright-close:active {
    background-image: url('../controls/annotation/assets/DlgCloseHov_n.gif');
}
.viz-controls-annotation-richtextdialog-headerright-close {
    width: 18px;
    height: 18px;
    background-image: url('../controls/annotation/assets/DlgClose_n.gif');
    display: inline-block;
    margin: 5px 1px 0 0;
    cursor: pointer;
    color: transparent;
}
.viz-controls-annotation-richtextdialog-content {
    background-color: white;
    border-color: white;
    padding: 10px 20px 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 0 1px;
    border-style: solid;
    overflow: auto;
}
.viz-controls-annotation-richtextdialog-footer {
    background-color: white;
    border: 1px solid white;
    border-top-width: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
}
.viz-controls-annotation-richtextdialog-footer-buttons {
    display: inline-block;
    float: right;
    padding-right: 14px;
    white-space: nowrap;
}
.viz-controls-annotation-block-layer {
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    outline: 0 none;
    z-index: 28;
}
.viz-controls-annotation-button {
    vertical-align: top;
    padding: 0 5px;
    margin: 0 5px;
    overflow: visible;
    white-space: nowrap;
    outline: none;
    background-repeat: repeat-x;
    width: 80px;
    height: 28px;
}.viz-controls-chart-area {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    min-width: 300px;
    position: relative;
    z-index: 1;
}
.viz-controls-chart-loading-icon {
    background-image: url('../common/assets/ajax-loader.gif');
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0px;
}
.viz-controls-chart-property-zone {
    position:absolute;
    cursor: pointer;
}
.viz-controls-chart-property-zone:hover {
    background-color:#DDDDDD;
    opacity: 0.3;
}
.viz-controls-chart-property-zone-selected {
    border: 1px solid #007CC0;
    background-color:#DDDDDD;
    opacity: 0.3;
}
.viz-controls-chart-drop-zone {
    position:absolute;
    border:1px solid #007CC0;
    color:#007CC0;
    cursor: pointer;
}
.viz-controls-chart-title-button {
    float: right;
    width:16px;
    height:16px;
    border-width: 0px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.viz-controls-chart-title-text{
    float:left;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:none !important;
    background:transparent;
    border-style:none;
    font-size:16px;
    font-weight:bold;
    outline:0;
    border: none;
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
}
.viz-controls-chart-setting-icon{
    background-position: -18px 0px;
    cursor: pointer;
    padding: 1px;
    position:absolute;
    cursor: pointer;
    margin-left: 5px;
}
.viz-controls-chart-setting-icon:hover {
    background-position: 0px -248px;
}

.viz-controls-chart-title-edit{
   border: 1px solid #007CC0;
   background-color: #FAFAFA;
}

.viz-controls-chart-block-layer {
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    outline: 0 none;
    z-index: 28;
}
.viz-controls-chart-editaxis {
    position: absolute;
    width: 280;
    padding: 16px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    border: 1px solid #96A8C3;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px 1px #ffffff, 5px 5px 10px rgba(0,0,0,0.5);
    z-index: 28;
    font-family : Helvetica Neue, Arial,Helvetica, sans-serif;
    font-size: 12px;
    color: #585858;
}
.viz-controls-chart-editaxis-separator {
    border-bottom: solid 1px #dddddd;
    width: 100%;
    margin-bottom:8px;
}
.viz-controls-chart-editaxis-footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}
.viz-controls-chart-editaxis-footer-buttons {
    margin: auto;
    width: 200px;
    white-space: nowrap;
}
.viz-controls-chart-editaxis-footer-button {
    width: 80px;
    height: 28px;
    margin: 0px 10px;
    padding: 1px 6px;
    outline: none;
}
.viz-controls-chart-editaxis-axiscontainer {
    margin-bottom : 24px;
}
.viz-controls-chart-editaxis-axisname {
    margin-bottom : 4px;
}
.viz-controls-chart-editaxis-inputs {
    margin-left : 20px;
}
.viz-controls-chart-editaxis-inputvalue {
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size : 12px;
    width: 100px;
    height : 22px;
}
.viz-controls-chart-editaxis-inputvalue:disabled {
    color: #a9a9a9;
}
.viz-controls-chart-axissplitter-axis {
    position: absolute;
    width : 6px;
    height: 6px;
}
.viz-controls-chart-axissplitter-resizehelper-mask {
    position: absolute;
    z-index:99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.viz-controls-chart-axissplitter-resizehelper {
    position: absolute;
    border : 1px dashed #007dc3;
    overflow: hidden;
    z-index: 99;
}
.viz-controls-chart-warning {
    position: absolute;
    width: 368px;
    height: 98px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #1381D2;
    z-index: 28;
    font-family: Helvetica, Arial;
}
.viz-controls-chart-warning-title {
    position: absolute;
    width: 100%;
    height: 45px;
    background: white;
}
.viz-controls-chart-warning-title-icon {
    background-image: url('../controls/chart/assets/warning.png');
    position: absolute;
    margin: 16px 8px 14px 19px;
    width: 16px;
    height: 16px;
}
.viz-controls-chart-warning-title-text {
    position: absolute;
    font-size: 13px;
    padding: 16px 0px 14px 43px;
}
.viz-controls-chart-warning-info {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 45px;
    background: #FAFAFA;
}
.viz-controls-chart-warning-info-text {
    position: absolute;
    font-size: 11px;
    padding: 10px 15px 0px 15px;
}
.viz-controls-chart-warning-delete-icon {
    position: absolute;
    background-position: 0px -34px;
    cursor: pointer;
    top: 2px;
    right: 1px;
    margin: 6px 6px 0px 0px;
}
.viz-controls-chart-warning-separator {
    position: absolute;
    border-bottom: solid 1px #dddddd;
    width: 100%;
    margin-top:45px;
}


.viz-controls-chart-map-esri-relogon{
    position: absolute;
    width: 28px;
    height: 28px;
}

.viz-controls-chart-map-no-service {
    position: absolute;
    background-color:#ffffff;
    width: 291px;
    height: 92px;
    border: solid 2px #007cc0
} 
.viz-controls-chart-map-service-no-service-title{
    width  :   276px;
    height :   34px;
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size : 13px;
    color:#424242;
    padding-left: 15px;
    padding-top:12px
}
.viz-controls-chart-map-service-no-serive-message {
    width  :   276px;
    height :   31px;
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size : 13px;
    color:#424242;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #fAfAfA;
    border-top: solid 1px #F2F2F2 
    
}

.viz-controls-chart-map-service-selector {
    position: absolute;
    background-color:#ffffff;
    width: 291px;
    height: 300px;
    border: solid 2px #007cc0
}

.viz-controls-chart-map-service-selector-title{
    width  :   276px;
    height :   46px;
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size : 13px;
    line-height: 46px;
    color:#424242;
    padding-left: 15px;
    border-bottom: solid 1px #F2F2F2 
}

.viz-controls-chart-map-service-selector-footer{
    width  :   261px;
    height :   46px;
    bottom :   0px;
    position:  absolute;
    border-top: solid 1px #F2F2F2 
    margin-left:15px;
    margin-right:15px;
}


.viz-controls-chart-map-service-selector-services-gallery{
   margin:0 0 0 2px;
   width: 100%;
   background-color: #fAfAfA;
   border-top:1px solid #F2F2F2;
   broder-bottom:1px solid #f2f2f2;
   padding-left:7.5px;
   padding-right:7.5px;
   height: 100%;
}
.viz-controls-chart-map-service-selector-services-color-panel{
   padding-left:15px;
   padding-right:15px;
   font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size : 10px;
}
.viz-controls-chart-map-service-selector-services-color-title-group {
  width:243px;
  height:15px;
}

.viz-controls-chart-map-service-selector-services-color-title-label{

 width:150px;
 height:15px;
    text-align:left;
   font-size : 10px;
   float:left;
}
.viz-controls-chart-map-service-selector-services-color-reset{

    background-color : #f7f7f7;
    width:  90px;
    height: 15px; 
    text-align:right;
    font-size : 10px;
     float:right;
     color: blue;
}

.viz-controls-chart-map-service-selector-services-color-reset:hover{
    cursor: pointer;
}
.viz-controls-chart-map-service-selector-services-gallery-close{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 2px;
    width: 24px;
    height: 24px;
    background-image: url('../controls/chart/assets/close.png');
}

.viz-controls-chart-map-service-selector-services-gallery-close:hover{
    cursor: pointer;
}

.viz-controls-chart-map-service-selector-services-item{
   float:     left;
   height:    78px;
   width:     87px;
   overflow:  hidden;
}

.viz-controls-chart-map-service-selector-services-item-icon{	
    height:   48px;
    width:    72px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-repeat: round;
    background-size:  contain;
    border:    2px solid #fff;
}

.viz-controls-chart-map-service-selector-services-item-title {
    height:  15px;
    width:   72px; 
    line-height: 30px;
    text-align:left;
    font-size:10px;
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;   
    font-color: #666666;
}

.viz-controls-chart-map-service-selector-services-item-icon:hover{
    border-color:#0091d9;
    border-style: solid; 
    border-width: 2px;
    box-sizing: content-box; 
}

.viz-controls-chart-map-service-selector-services-item-icon-selected{
    border-color:#0091d9;
    border-style: solid; 
    border-width: 2px;
    box-sizing: content-box; 
}

.viz-controls-chart-map-service-selector-button-layer{
	display: inline-block;
    background-color : #f7f7f7;
    float: left;
    width:  80px;
    height: 28px; 
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #BFBFBF;
    text-align:center;
    line-height:28px;
	margin-left:15px;
}

.viz-controls-chart-map-service-selector-button-layer:hover{
    background-color : #007cc0;
    cursor: pointer;
    color:white;
}

.viz-controls-chart-map-service-selector-button-confirm{
    display: inline-block;
    background-color : #f7f7f7;
    float: right;
    width:  80px;
    height: 28px; 
    line-height:28px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #BFBFBF;
    text-align:center;

}

.viz-controls-chart-map-service-selector-button-confirm:hover{
    background-color : #007cc0;
    cursor: pointer;
    color: white;
}

.viz-controls-chart-map-service-selector-button-done{
    display: inline-block;
    background-color : #f7f7f7;
    float: right;
    width:  80px;
    height: 28px; 
    line-height:28px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #BFBFBF;
    text-align:center;
}

.viz-controls-chart-map-service-selector-button-done:hover{
    background-color : #007cc0;
    cursor: pointer;
    color: white;
}

.viz-controls-chart-map-service-selector-services-panel{
    overflow-y: auto;
    overflow-x: hidden;
    width: 283.5px;
	padding-left:7.5px;
    background-color : #f7f7f7;
    min-height:198px;
    max-height:198px;

}
.viz-controls-chart-map-service-selector-services-color-radio-group {

	height:15px;
}
.viz-controls-chart-map-service-selector-services-color{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background-color : #f7f7f7;

}
.viz-controls-chart-map-service-selector-services-color-field-gradient-start{
  font-family : Helvetica Neue, Arial, Helvetica, sans-serif; 
  position : inline-block;
  margin-top: 5px;
}

.viz-controls-chart-map-service-selector-services-color-field-gradient-end{
  font-family : Helvetica Neue, Arial, Helvetica, sans-serif; 
  position : inline-block;
  margin-top: 5px;
}
.viz-controls-chart-map-service-selector-services-color-field-title{
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif; 
    margin-top:10px;
}

.viz-controls-chart-map-service-selector-services-color-field-selector{
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.viz-controls-chart-map-service-selector-services-color-field-gradient-value-group1{
  width:100%;
  height:30px;
  margin-top:5px;
}

.viz-controls-chart-map-service-selector-services-color-field-gradient-value-group2{
  margin-top:5px;
  width:100%;
  height:25px;
}
.viz-controls-chart-map-service-selector-services-color-field-gradient-colorpicker
{
    display: inline-block;
    left:80px;
    margin-top:7px;
    margin-left:6px;
    top:8px;
    height:8px;
    width:8px;
    border:1px solid #666666;
   float:left
}

.viz-controls-chart-map-service-selector-services-color-field-gradient{
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    width: 100%;
}


.viz-controls-chart-map-service-selector-services-color-field-gradient-value{
    font-family : Helvetica Neue, Arial, Helvetica, sans-serif;
    width: 70px;
    display: inline-block;
    left:0px;
    top:0px;
    float:left;
}



.viz-controls-contextmenu {
    position: fixed;
    z-index: 999999;
    top: -10000px;
    display: block;
    min-width: 80px;
    border: 1px solid #BFBFBF;
    background-color: white;
    cursor: default;
    outline: none;
    overflow: hidden;
    padding: 1px;
    box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
    -webkit-box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
    -moz-box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
}
.viz-controls-contextmenu-list {
    padding: 0;
    margin: 0;
    display: block;
    cursor: default;
    color: #585858;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.viz-controls-contextmenu-list > li {
    margin: 4px 0px;
    background-color: #ffffff;
}
.viz-controls-contextmenu-list-hovered > li:hover,
.viz-controls-contextmenu-list li.viz-controls-contextmenu-MnuItmOpen {
    background-color: #e5f2f9;
}
.viz-controls-contextmenu-list-hovered .viz-controls-contextmenu-disabled:hover {
    background-color: inherit;
}
.viz-controls-contextmenu-disabled .viz-controls-contextmenu-MnuItmTxt {
    color: #bfbfbf;
}
.viz-controls-contextmenu-MnuItm {
    display: block;
    height: 23px;
    line-height: 21.5px;
    white-space: nowrap;
    position: relative;
    text-align: left;
}
.viz-controls-contextmenu-MnuItmTxt {
    color: #585858;
    padding-left: 6px;
    padding-right: 30px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    position: relative;
    display: inline-block;
    pointer-events: none;
}
.viz-controls-contextmenu-MnuItmIco {
    padding-right: 2px;
    width: 20px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    outline: none;
    height: 100%;
    position: relative;
    pointer-events: none;
}
.viz-controls-contextmenu-MnuItmTooltip {
    opacity: 0;
    border: 1px solid #BFBFBF;
    background-color: #F2F2F2;
    padding: 8px 16px;
    z-index: 999999;
    font-size: 12px;
    width : 220px;
    white-space: normal;
    box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
    -webkit-box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
    -moz-box-shadow: 2px 2px 3px rgba(198,198,198,0.5);
}
.viz-controls-contextmenu-MnuItm-Show, .viz-controls-contextmenu-MnuItm-Hide {
    padding-left:21px;
}
.viz-controls-contextmenu-MnuItmIco-Show:before {
    background-position: 0px -207px;
}
.viz-controls-contextmenu-MnuItmIco-Hide:before {
    background-position: -34px -207px;
}
.viz-controls-contextmenu-disabled:before {
    opacity: .4;
}
.viz-controls-contextmenu-MnuItmIco-Show:before, .viz-controls-contextmenu-MnuItmIco-Hide:before {
    background-image: url('../common/assets/UVB_SharedSprite2.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    content: " ";
    position: absolute;
    overflow: hidden;
    top: 50%;
    margin-top: -5px;
    left: 9px;
}
.viz-controls-contextmenu-MnuItmIco-Show-Hovered:before {
    background-position: -11px -207px;
}
.viz-controls-contextmenu-MnuItmIco > img {
    max-width: 16px;
    max-height: 16px;
    padding-left: 6px;
    vertical-align: middle;
    pointer-events: none;
}
.viz-controls-contextmenu-blank-MnuItem {
    display : block;
    height : 21.5px;
    line-height : 21.5px;
    white-space : nowrap;
    position : relative;
    padding : 0px 10px;
}
.viz-controls-contextmenu-blank-MnuItmTxt {
    color: #bfbfbf;
}
.viz-controls-contextmenu-MnuItem-separator {
    border-bottom : 1px solid #e7e7e7;
    width: 95%;
    margin: 1px auto;
}
.viz-controls-custombutton-button {
    min-width: 20px;
    min-height: 20px;
    float: right;
    padding: 12px 3px 0px 0px;
    border-width: 0px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.viz-controls-frame-editor {
    position: absolute;
    width: 760px;
    height: 460px;
    -webkit-animation: vizControls-vizFrame-editor_keyframes .3s ease-out forwards;
}
@-webkit-keyframes vizControls-vizFrame-editor_keyframes
{
0% {opacity: 0;}
100% {opacity: 1;}
}
.viz-controls-frame-editor-main {
    height: 100%;
    width: 100%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 12px;
}
.viz-controls-frame-editor-header {
    width: 100%;
    height: 40px;
}
.viz-controls-frame-editor-content {
    width: 100%;
    margin-bottom: 24px;
}
.viz-controls-frame-editor-content-img {
    width: 100%;
}
.viz-controls-frame-editor-footer {
    width: 100%;
}
.viz-controls-frame-editor-footer-button {
    width: 80px;
    height: 28px;
    margin-right: 6px;
}
.viz-controls-frame-editor-close {
    background-position: 0px -269px;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}
.viz-controls-frame-editor-close:hover {
    opacity: .6;
}.viz-controls-frame-area {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
}
/*will be removed by title context menu*/
.viz-controls-frame-MnuItm {
    display: block;
    height: 23px;
    line-height: 21.5px;
    white-space: nowrap;
    position: relative;
}
.viz-controls-frame-MnuItmTxt {
    color: #585858;
    padding-left: 6px;
    padding-right: 7px;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    height: 100%;
    position: relative;
    display: inline-block;
    pointer-events: none;
}
.viz-controls-frame-MnuItmIco {
    padding-right: 2px;
    width: 20px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    outline: none;
    height: 100%;
    position: relative;
    pointer-events: none;
}
.viz-controls-frame-MnuItm-Show, .viz-controls-frame-MnuItm-Hide {
    padding-left:21px;
}
.viz-controls-frame-MnuItmIco-Show:before {
    background-position: 0px -207px;
}
.viz-controls-frame-MnuItmIco-Hide:before {
    background-position: -34px -207px;
}
.viz-controls-frame-MnuItmIco-Show:before, .viz-controls-frame-MnuItmIco-Hide:before {
    background-image: url('../common/assets/UVB_SharedSprite2.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    content: " ";
    position: absolute;
    overflow: hidden;
    top: 50%;
    margin-top: -5px;
    left: 9px;
}
.viz-controls-frame-MnuItmIco-Show-Hovered:before {
    background-position: -11px -207px;
}
.viz-controls-frame-MnuItmIco > img {
    max-width: 16px;
    max-height: 16px;
    padding-left: 6px;
    vertical-align: middle;
    pointer-events: none;
}
.viz-controls-frame-blank-MnuItem {
    display : block;
    height : 21.5px;
    line-height : 21.5px;
    white-space : nowrap;
    position : relative;
    padding : 0px 10px;
}
.viz-controls-frame-blank-MnuItmTxt {
    color: #bfbfbf;
}
.viz-controls-frame-MnuItem-separator {
    border-bottom : 1px solid #e7e7e7;
    width: 95%;
    margin: 1px auto;
}
.viz-controls-frame-header {
    background-color: #FAFAFA;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: -1px;
    border: 1px solid #DAD9D9;
    min-height: 40px;
    padding: 0px 0px 0px 0px;
    min-width: 300px;
    position: relative;
}
.viz-controls-frame-header-fullscreen-exit-icon {
    background-position: -17px -17px;
    cursor: pointer;
    padding: 1px;
}
.viz-controls-frame-header-fullscreen-exit-icon:hover {
    background-position: -19px -248px;
}
.viz-controls-frame-header-fullscreen-enter-icon {
    background-position: 0px -17px;
    cursor: pointer;
    padding: 1px;
}
.viz-controls-frame-header-fullscreen-enter-icon:hover {
    background-position: -38px -248px;
}
.viz-controls-frame-header-setting-icon {
    background-position: -18px 0px;
    cursor: pointer;
    padding: 1px;
}
.viz-controls-frame-header-setting-icon:hover {
    background-position: 0px -248px;    
}
.viz-controls-frame-header-filterbar-container {
    background-color: #FAFAFA;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    position: absolute;
    left: 0px;
    right: 60px;
    min-height: 38px;
    height:99%;
    margin: 0px;
    white-space: nowrap;
}
.viz-controls-frame-filtermenu {
    visibility: hidden;
    display: none;
    z-index: 100;
    position: absolute;
    border: 1px solid #96a8c3;
    background-color: #f2f2f2;
    cursor: default;
    outline: none;
    overflow: hidden;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.viz-controls-frame-filtermenu > div {
    float: left;
    cursor: pointer;
    height: 30px;
    margin-right: 15px;
    margin-top: 5px;
}
.viz-controls-frame-filtermenu > div:last-child {
    margin-right: 0px;
}
.viz-controls-frame-filtermenu > div:hover {
    background-color: #007CC0 ;
    color: #ffffff;
}
.viz-controls-frame-filtermenu > div > div {
    float: left;
    margin: 8px 5px 8px 5px;
}
.viz-controls-frame-filtermenu > div > div:first-child {
    margin: 8px 0px 0px 5px;
}
.viz-controls-frame-filtermenu-exclude-icon {
    background-position: 0px -269px;
}
.viz-controls-frame-filtermenu > div:hover .viz-controls-frame-filtermenu-exclude-icon {
    background-position: -17px -269px;
}
.viz-controls-frame-filtermenu-filter-icon {
    background-position: 0px -286px;
}
.viz-controls-frame-filtermenu > div:hover .viz-controls-frame-filtermenu-filter-icon {
    background-position: -17px -286px;
}
.viz-controls-frame-xlabel {
    height: 30px;
    visibility: hidden;
}
.viz-controls-frame-xlabel {
    text-align: center;
    line-height: 30px;
}
.viz-controls-frame-ylabel {
    float: left;
    width: 30px;
    visibility: hidden;
}
.viz-controls-frame-ylabel-text {
    text-align: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}.viz-controls-filterbar0-layout {
    background-color: #FAFAFA;
    float: left;
    position: absolute;
    height: 100%;
    white-space: nowrap;
    left: 25px;
    right:0px;
}
.viz-controls-filterbar0-filterItems-container {
    position: absolute;
    min-height: 38px;
    height:auto;
    right:4px;
    left:0px;
}
.viz-controls-filterbar0-header-plus {
    background-position: 0px -1780px;
    position: absolute;
    top: 12px;
    left: 7px;
    cursor: pointer;
}
.viz-controls-filterbar0-header-plus:hover {
    background-position: -32px -1861px;
    background-color: #007CC0;
}
.viz-controls-filterbar0-description {
    line-height: 38px;
    margin-left: 28px;
    cursor:default;
    color: #999999;
}

.viz-controls-filterbar0-filter-item, .viz-controls-filterbar0-filter-item-tooltip,.viz-controls-filterbar0-global-filter-item {
    height: 36px;
    width: 180px;
    border-radius: 3px;
    cursor: default;
}

.viz-controls-filterbar0-filter-item, .viz-controls-filterbar0-global-filter-item {
    position: relative;
    float: left;
    display: inline;
    margin-left: 10px;
    margin-top: 1px;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
}
.viz-controls-filterbar0-filter-values-active {
    color: #008fd3;
    cursor: pointer;
}

.viz-controls-filterbar0-filter-exclude {
    text-decoration: line-through;
}

.viz-controls-filterbar0-global-filter-item {
    color : #FFFFFF;
    background-color: #7F7F7F;
}

.viz-controls-filterbar0-filter-item-tooltip {
    width: auto;
    height: auto;
    padding: 1px 10px 5px 0px;
    position: absolute;
    top: 40px;
    z-index: 999999;
    display: block;
    min-width: 100px;
    max-width: 300px;
    min-height: 37px;
    background-color: #F2F2F2;
    border: 1px solid #7F7F7F;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.viz-controls-filterbar0-filter-item-tooltip-globalfilter {
    color : #A6DBF2;
}
.viz-controls-filterbar0-filter-item-tooltip-title, .viz-controls-filterbar0-filter-item-text, .viz-controls-filterbar0-filter-item-info, .viz-controls-filterbar0-filter-item-tooltip-globalfilter {
    padding-left: 10px;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}
.viz-controls-filterbar0-filter-item-tooltip-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.viz-controls-filterbar0-filter-item-text {
    position : absolute;
    max-width : 180px;
    padding-left: 0px;
    left : 10px;
    top : 0px;
    margin-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.viz-controls-filterbar0-range-filter-item-text {
    right : 20px;
}
.viz-controls-filterbar0-filter-item-info {
    position : absolute;
    padding-left: 0px;
    top : 0px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.viz-controls-filterbar0-delete-icon {
    background-position: 0px -34px;
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 1px;
}
.viz-controls-filterbar0-delete-icon:hover {
    background-position: -17px -34px;
}
.viz-controls-filterbar0-filter-item-tooltip-value, .viz-controls-filterbar0-filter-values {
    padding-left: 10px;
    display: block;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 3px;
    text-overflow: ellipsis;
}
.viz-controls-filterbar0-filter-item-tooltip-value {
    top: -16px;
    word-wrap: break-word;
    word-break: normal;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}
.viz-controls-filterbar0-filter-values {
    position: absolute;
    left : 0px;
    right : 0px;
    bottom: 0px;
}
.viz-controls-playcontrol-body {
    height : 40px !important;
}

.viz-controls-playcontrol-playbtn{
    background-color : transparent !important;
    border-color : transparent !important;
    box-shadow: none !important;
    padding : 0px !important;
    width : 22px !important;
    height : 29px !important;
}

.viz-controls-playcontrol-slider .sapUiSliHori.sapUiSli {
    padding : 0px !important;
}

.viz-controls-playcontrol-label{
    font-size : 18px;
    color : #007cc0;
    bottom : 28px;
    position : absolute;
    text-overflow : ellipsis;
    overflow : hidden;
    white-space:nowrap; 
}.viz-controls-chartPopover{
  height: auto;
  font-size: 0.875rem;
}

.viz-controls-chartPopover .sapUiIcon{
  border : none;
}

.viz-controls-chartPopover .viz-controls-chartPopover-measures-list{
  padding: 0;
}

.viz-controls-chartPopover .viz-controls-chartPopover-measures-item{
  padding : 0;
  border-bottom: none;
  line-height: 1.4375rem;
  height: 1.4375rem;
}

.viz-controls-chartPopover .viz-controls-chartPopover-measures-item .sapMDLILabel{
  width: 50%;
  font-size: 0.875rem;
  color: #000000;
  padding-left : 1.25rem;
}

.viz-controls-chartPopover .viz-controls-chartPopover-measures-item .sapMDLIValue{
  font-size: 0.875rem;
  color: #000000;
}

.viz-controls-chartPopover .viz-controls-chartPopover-measures-item .sapMLIBContent{
  line-height: 1.4375rem;
}

.viz-controls-chartPopover .sapMPanelContent{
  margin: 0.4375rem 0.688rem;
  padding: 0;
  border-bottom: none;
  line-height: 0rem;
}

.viz-controls-chartPopover .viz-controls-chartPopover-dimension-label{
  font-weight: bold;
  color: #000000;
  line-height: 1.4375rem;
}

.viz-controls-chartPopover .viz-controls-chartPopover-dimension-marker{
  line-height: 1.4375rem;
  margin-right: 0.625rem;
  float: left;
}

.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBar{
  margin: 0 0.688rem;
  width: 92%;
  background-color: #ffffff;
  box-shadow: none;
}

.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBar .sapMLabel{
  color: #000000;
}

.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBarBorder{
  border-top: 1px rgba(153,153,153,0.6) solid;
}

.viz-controls-chartPopover .viz-controls-chartPopover-actionList li:first-child{
  border-top: 1px rgb(229, 229, 229) solid;
}
.viz-controls-dedicatedLegend svg{
  margin: 0.4375rem 0.688rem 0.125rem 0.688rem;
}